.k-grid-field[data-v-2964abc9] {
  display: flex;
  flex-direction: column;
}
.k-grid-field .k-grid-container[data-v-2964abc9] {
  display: flex;
  gap: 10px;
}
.k-grid-field .k-grid-container .k-grid-item[data-v-2964abc9] {
  flex-grow: 1;
  display: flex;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: var(--field-input-border);
  padding: var(--field-input-padding);
  background: var(--field-input-background);
  line-height: var(--field-input-line-height);
}
.k-grid-field .k-grid-container .k-grid-item.k-grid-active[data-v-2964abc9] {
  color: var(--color-white);
  background: var(--color-blue-600);
}